<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Error</title>
    <meta name="description" content="Error">
    <th:block th:replace="fragments/head :: metas"/>
    <th:block th:replace="fragments/head :: css"/>
</head>
<body>
<header>

</header>
<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="card bg-muted shadow my-4">
                    <div class="card-body">
                        <h1 class="card-title my-3">Oops...</h1>
                        <p>Something went wrong!</p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" th:href="@{~/}">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/scripts :: global-js"/>
</body>
</html>
